.container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
    margin: auto;
  }
}

body {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  background: #011827;
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}
@media screen and (min-width: 1200px) {
  .header {
    height: 150px;
  }
}
.header .menu_button {
  background-color: #011827;
  border: none;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 50px;
}
@media screen and (min-width: 1200px) {
  .header .menu_button {
    display: none;
  }
}

#blurred {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 251, 251, 0.671);
  visibility: hidden;
}
@media screen and (min-width: 1200px) {
  #blurred {
    display: none;
  }
}

#popup_content {
  display: none;
  position: fixed;
  left: 20px;
  right: 20px;
  top: 20px;
  background-color: #011827;
  width: 90%;
  height: 630px;
  animation-name: fade;
  animation-duration: 0.5s;
}
@media screen and (min-width: 1200px) {
  #popup_content {
    display: flex;
    margin: auto;
    width: 1300px;
    height: 60px;
    margin-top: 100px;
  }
}

#close_button {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #011827;
  border: none;
  color: white;
  font-size: 34px;
}
@media screen and (min-width: 1200px) {
  #close_button {
    display: none;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
@media screen and (min-width: 1200px) {
  ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1100px;
  }
}

li {
  margin: 0 50px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  padding: 20px;
}
.logo_text {
  display: flex;
  margin-top: 20px;
  margin-left: 15px;
}

.logo {
  width: 120px;
  height: auto;
}

.text {
  color: white;
  height: 20px;
  width: 20%;
  font-size: 20px;
  margin-top: 9px;
  margin-left: 5px;
}
@media screen and (min-width: 1200px) {
  .text {
    margin-top: 40px;
    font-size: 32px;
    width: 400px;
    margin-left: 15px;
  }
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .header_image {
    height: 550px;
    object-fit: cover;
  }
}

.button {
  display: block;
  background-color: #8ACFE5;
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  border: none;
  border-radius: 2px;
  margin: auto;
  padding: 10px;
}
@media screen and (min-width: 1200px) {
  .button {
    transform: translateY(-47px);
    background-color: #E3170A;
    color: white;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons {
    display: flex;
  }
}
.button2 {
  display: block;
  background-color: white;
  color: #36769D;
  font-size: 15px;
  font-weight: bold;
  border: none;
  margin: auto;
  padding-top: 20px;
  text-decoration: underline 2px solid rgba(54, 118, 157, 0.5019607843);
}
@media screen and (min-width: 1200px) {
  .button2 {
    transform: translateY(-47px);
    background-color: #8ACFE5;
    color: black;
    font-size: 20px;
    width: 250px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 2px;
    text-decoration: none;
  }
}

@media screen and (min-width: 1200px) {
  .outer_container {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }
}

.image_quote {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .image_quote {
    width: 500px;
    font-size: 24px;
  }
}

.hidden_content {
  display: none;
}
@media screen and (min-width: 1200px) {
  .hidden_content {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .quote_container,
  .hidden_content {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.image {
  width: 50px;
  margin-right: 10px;
}
@media screen and (min-width: 1200px) {
  .image {
    width: 300px;
  }
}

.quote {
  margin: 0;
  font-style: italic;
}

.quote_name {
  margin-top: 0;
  margin-left: 80px;
  margin-right: 20px;
  font-size: 14px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .quote_name {
    font-size: 20px;
    margin-left: 130px;
    width: 350px;
  }
}

.p_text {
  text-align: center;
  font-size: 24px;
}

.scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: 30px;
}
@media screen and (min-width: 1200px) {
  .scroll {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.challenges {
  flex: 0 0 auto;
  width: 350px;
  height: 420px;
  margin: 5px;
  margin-bottom: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(184, 181, 181, 0.5803921569);
}
@media screen and (min-width: 1200px) {
  .challenges {
    margin-right: 40px;
  }
}

.challenges img {
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}

.challenges h3 {
  margin: 0 0 0 10px;
  font-weight: normal;
  font-size: 24px;
}

.star_rating {
  display: flex;
  margin-left: 12px;
}

.star_rating img {
  margin-right: 5px;
  height: 15px;
  width: 15px;
}

.star_rating p {
  margin-top: 0;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .star_rating p {
    margin-left: 130px;
  }
}

.challenges_text {
  width: 290px;
  margin: auto;
  font-size: 18px;
}

.booking_button {
  background-color: #E3170A;
  color: white;
  font-size: 18px;
  width: 180px;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin-left: 160px;
  margin-top: 20px;
  margin-bottom: px;
}

.section {
  display: flex;
  flex-direction: column;
  height: 390px;
  margin-top: 50px;
  background-color: #011827;
}

.section p {
  text-align: center;
  align-self: center;
  color: white;
  width: 90%;
  margin: 70px 0 40px;
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  .section p {
    width: 500px;
    margin-top: 100px;
    font-size: 25px;
  }
}

.section button {
  align-self: center;
  width: 230px;
  padding: 10px;
  color: #8ACFE5;
  background-color: #011827;
  border-color: #8ACFE5;
  font-size: 18px;
  border-radius: 3px;
}

.section_image {
  margin: 0;
}

.section_title {
  margin: 0 5px 20px 15px;
  font-size: 24px;
}

.section_text {
  margin: 0 5px 5px 15px;
  font-size: 18px;
}

.section_button {
  background-color: #E3170A;
  color: white;
  padding: 10px;
  width: 230px;
  border: none;
  border-radius: 3px;
  margin: 20px 0 50px 10px;
  font-size: 18px;
}

@media screen and (min-width: 1200px) {
  .second_section {
    display: grid;
    grid-template-columns: auto auto;
  }
  .second_section h3,
  .second_section p {
    width: 400px;
    margin-left: 100px;
  }
  .second_section button {
    margin-left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .section_box {
    width: 470px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .third_section {
    display: flex;
  }
  .third_section img {
    order: 2;
  }
  .third_section .third_section_box {
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .third_section h3,
  .third_section p {
    width: 400px;
    margin-left: 100px;
  }
  .third_section button {
    margin-left: 100px;
  }
}

footer {
  background-color: #011827;
  color: white;
  height: 390px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  footer .footer_text {
    width: 300px;
    grid: span 2;
    margin-top: 100px;
    margin-left: 100px;
  }
  footer .footer_list {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    margin-top: 100px;
  }
  footer .footer_links {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
}

.first_footer_h5 {
  margin-top: 40px;
}

footer h5 {
  margin: 20px 0 5px 10px;
}

footer p {
  font-size: 12px;
  margin: 0 0 0 10px;
}

footer a {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
  font-size: 12px;
}

.footer_div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
